.card-info {
  margin: 1%;
  border: none;
  background: transparent;
}

.card-info-header {
  border-bottom: none;
  background: #f0f8ff8a;
  box-shadow: 0em 6px 0.5em 6px #c7c7c7;
}

@media all and (min-width: 768px) {

  tr, td {
    vertical-align: middle !important;
  }

  span {
    padding: 1rem 1rem;
  }
}

.show {
  display: block !important;
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: none !important;
}

table.dataTable.no-footer {
  border-bottom: none !important;
}

.card-stats:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
  -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.card-stats {
  border-radius: 10px !important;
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.25), -5px -5px 30px 2px rgba(0, 0, 0, 0.22);
}

.focus {
  border: #0b90a8 solid 1px;
}
::ng-deep .table {
  width: auto !important;
  margin-bottom: 1rem;
  background-color: transparent;
  padding-left: 9% !important;
}
