<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators2">

  <div class="carousel-inner">
    <div class="carousel-item active" style="position: relative">
      <img alt="First slide" class="d-block w-100" src="assets/img/whiteimg.png" style="height: 567px;">
      <div class="carousel-caption  d-md-block" style="position: absolute;top: 30%;">
        <p class="fontresp" style=" font-size: 23px; font-style: oblique; text-align: center; color: #100f19; "><span
          class="fontresp"
          style="color: #0a5c82;font-size: 35px;font-weight: bold;"> Vous voulez des employés heureux ?</span>
          <br>
          Ok, Wind Rh ne va pas tout résoudre. Mais on peut vous aider<br><br>
          Wind rh a apporté plus d’autonomie à nos collaborateurs :<br>
          ils peuvent désormais avoir accès à l’ensemble de leur<br>
          dossier sans avoir à solliciter d’autres interlocuteurs.
          <br><br>
          <span style="color: #0f98d7">Ali Mosbah<br>
          Responsable RH chez ooredoo<br>
          </span>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="Second slide" class="d-block w-100" src="assets/img/whiteimg.png" style="height: 567px;">
      <div class="carousel-caption  d-md-block" style="position: absolute;top: 30%;">
        <p class="fontresp" style=" font-size: 23px; font-style: oblique; text-align: center; color: #100f19; "><span
          class="fontresp"
          style="color: #0a5c82;font-size: 35px;font-weight: bold;"> Vous voulez des employés heureux ?</span>
          <br>
          Ok, Wind Rh ne va pas tout résoudre. Mais on peut vous aider<br><br>
          Wind rh a apporté plus d’autonomie à nos collaborateurs :<br>
          ils peuvent désormais avoir accès à l’ensemble de leur<br>
          dossier sans avoir à solliciter d’autres interlocuteurs.
          <br><br>
          <span style="color: #0f98d7">Ali Mosbah<br>
          Responsable RH chez ooredoo<br>
          </span>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="Third slide" class="d-block w-100" src="assets/img/whiteimg.png" style="height: 567px;">
      <div class="carousel-caption  d-md-block" style="position: absolute;top: 30%;">
        <p class="fontresp" style=" font-size: 23px; font-style: oblique; text-align: center; color: #100f19; "><span
          class="fontresp"
          style="color: #0a5c82;font-size: 35px;font-weight: bold;"> Vous voulez des employés heureux ?</span>
          <br>
          Ok, Wind Rh ne va pas tout résoudre. Mais on peut vous aider<br><br>
          Wind rh a apporté plus d’autonomie à nos collaborateurs :<br>
          ils peuvent désormais avoir accès à l’ensemble de leur<br>
          dossier sans avoir à solliciter d’autres interlocuteurs.
          <br><br>
          <span style="color: #0f98d7">Ali Mosbah<br>
          Responsable RH chez ooredoo<br>
          </span>
        </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators2" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"
          style=" background-image: url('/assets/img/previous.png') !important; background-size: 50% 35% !important; "></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators2" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"
          style=" background-image: url('/assets/img/next.png') !important; background-size: 50% 35% !important; "></span>
    <span class="sr-only">Next</span>
  </a>

</div>
