

<div class="invoice-form-wrapper">
  <div class="px-3" style="padding: 0;">

    <div>
    <div>
        <p>Numéro de facture</p>
    </div>
    <div class="border" style="    padding: 4%;   width: 100%;">
     {{facturenumber}}
    </div>
    </div>
    <br>
    <div>
      <div>
        <p> Note / Remarque</p>
      </div>
      <div class="border" style="margin-left: -20px; margin-right: -20px;">
        <div  class="out"    style="padding: 0;    border: none;">

          <angular-editor (input)="showHTML()" [(ngModel)]="htmlContent" [config]="config" ></angular-editor>

          <div  style="display:none;">
            <div id="htmlDiv" class="html" [innerHTML]="htmlContent"></div>
            <div class="html" > {{htmlContentWithoutStyles}}</div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
