
<div class="container_login">
  <img src="./../../../assets/img/loginbackgroud.png" class="back_login " alt="Snow" style="width:100%;">
  <div class="bottom-left"></div>
  <div class="top-left"><img class="media_image" src="./../../../assets/img/logo.png"></div>

  <div class="bottom-right"><p class="login_footer" style="color:#898989">© 2020 Copyright: Wind RH</p></div>
  <div class=" topleft media_topleft" style="   ">
    <div class="  col-md-12 col-sm-12 col-lg-12">
      <div class="card_login " style="background-color: white; border-radius: 1.25rem;">
        <form role="form" id="form1">
        <div class="card_login_title" style=" padding: 5%;">
          <h3 style="    text-align: center;">Mot de passe oublié</h3>
        </div>


        <div class="card_login_details" style=" padding: 10%; padding-top: 0;">


          <input type="email" name="email"
          class="form-control input_Login"
          placeholder="E-mail"
                 [(ngModel)]="resetpassword.email.value" [ngModelOptions]="{standalone: true}">
          <div class="row">
            <div class="col-lg-12 col-12">
              <div class="alert alert-success " style="display: none">
                <strong>Succès!</strong> la Durée de Contrat est ajoutée avec succès .
              </div>
              <div *ngIf="resetpassword.email.dirty" class="alert alert-danger " style="color: red; font-family: monospace; background: #f3d4d4; padding: 1%;border-radius: 5px;">
                   <span
                          class="error-hint">{{resetpassword.email.error}} </span><br>

              </div>

            </div>

          </div>
          <button class="btn btn-primary my-4" style=" background-color: #efcc0b; border-color: #efcc0b; color:white;width: 100%"
                  type="submit" (click)="onFormSubmit()">Envoyer Email
          </button>

          <div class="col-12" style=" color:black; font-family: monospace; padding: 0;">

            <span>Pour retourner à la page de connexion</span>&nbsp;&nbsp;<a  href="#/auth/"  style="color:black;"> cliquez ici &nbsp;</a>

          </div>
        </div>
        </form>

      </div>

    </div>
  </div>
  <div class="centered media_text">
    <h1 class="login_h1" >Une solution
      <a class="login_a" href="#" style="">RH</a>  globale,<br>
      adaptée aux PME</h1>

    <ul class="login_ul" style="">
      <li> <label style="padding-left: 10px;">Simplifiez la vie de tous les salariés</label></li>
      <li><label style="padding-left: 10px;">Pour une gestion de vos ressources Humaine </label></li>
      <li class="li_nocontent"> <label style="color: #efcc0b;">SANS CONTRAINTE ! </label></li>
    </ul>

  </div>

</div>
