
<main style="background: url(./../../../../../assets/img/slide.png)  no-repeat;background-size: cover;height: 100%;">
  <div class="position-absolute">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <h4 style="color: #fff;font-family: fantasy;font-size: 35px;">
        Pour une gestion<br>
        de vos ressources<br> Humaine<br>
        <span style="color:#ffcf03 "> SANS CONTRAINTE !</span>
      </h4>
      <div class="col-lg-6 col-12">
        <div class="form-group mb-3">
          <div class="input-group ">
            <button class="btn btn-primary my-4"
                    style=" width: auto; background: transparent; border-color: #ffcf03;    border-radius: 25px; "
                    type="button">Découvrir >>
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
</main>
<div class="position-relative">
  <!-- shape Hero -->
  <section class="section1">
    <div class="container clearfix mt-5">
      <div class="content col-lg-12 col-md-12 col-sm-12 clearfix displaying" style="display: flex">
        <div class="col-lg-2 col-md-2 col-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1 effect-slide-bottom in" data-effect="slide-bottom"
                   style="transition: all 0.7s ease-in-out 0s;">
                <a class="" href="#"> <span class="active dm-icon "><img src="assets/img/im1.png"
                                                                         style=" position: absolute; top: 17%; left: 18%; width: 65%; "></span>
                </a>
              </div>
              <div class="servicetitle">
                <h4 style=" font-size: 16px; font-style: italic; ">Dossiers du personnel</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->
        <div class="col-lg-2 col-md-2 col-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1 effect-slide-bottom in" data-effect="slide-bottom"
                   style="transition: all 0.7s ease-in-out 0s;">
                <a class="" href="#"> <span class="active dm-icon "><img src="assets/img/im2.png"
                                                                         style=" position: absolute;top: 17%; left: 25%; width: 65%; "></span>
                </a>
              </div>
              <div class="servicetitle">
                <h4 style=" font-size: 16px; font-style: italic; ">Abscences et vacances</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->
        <div class="col-lg-2 col-md-2 col-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1 effect-slide-bottom in" data-effect="slide-bottom"
                   style="transition: all 0.7s ease-in-out 0s;">
                <a class="" href="#"><span class="active dm-icon "><img src="assets/img/im3.png"
                                                                        style=" position: absolute; top: 17%; left: 18%; width: 65%; "></span>
                </a>
              </div>
              <div class="servicetitle">
                <h4 style=" font-size: 16px; font-style: italic; ">Temps de travail</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->
        <div class="col-lg-2 col-md-2 col-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1 effect-slide-bottom in" data-effect="slide-bottom"
                   style="transition: all 0.7s ease-in-out 0s;">
                <a class="" href="#"> <span class="active dm-icon "><img src="assets/img/im4.png"
                                                                         style=" position: absolute; top: 17%;left: 18%; width: 65%; "></span>
                </a>
              </div>
              <div class="servicetitle">
                <h4 style=" font-size: 16px; font-style: italic; ">Note de frais</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->
        <div class="col-lg-2 col-md-2 col-12">
          <div class="servicebox text-center">
            <div class="service-icon">
              <div class="dm-icon-effect-1 effect-slide-bottom in" data-effect="slide-bottom"
                   style="transition: all 0.7s ease-in-out 0s;">
                <a class="" href="#"> <span class="active dm-icon "><img src="assets/img/im5.png"
                                                                         style=" top: 17%;position: absolute;  left: 18%; width: 65%; "></span>
                </a>
              </div>
              <div class="servicetitle">
                <h4 style=" font-size: 16px; font-style: italic; ">Evaluations</h4>
              </div>
            </div>
            <!-- service-icon -->
          </div>
          <!-- servicebox -->
        </div>
        <!-- large-3 -->
      </div>
      <!-- end content -->
    </div>
    <!-- end container -->
  </section>
  <section class="section">

    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-6">
          <div class=" ">
            <p style="    font-size: 19px;"> Gérer les RH avec Excel ne vous convient plus ?</p>
            <p style=" color: #1eb1ea; font-weight: bold; font-size: 25px; ">Nous avons la solution...</p>
            <p>Vous passez du temps à chercher une information dans des fichiers Excel pour constater qu’elle n’est plus
              à jour ? Storhy permet de regrouper toutes les informations au même endroit, les partage avec les
              collaborateurs, et vous permet de les retrouver facilement et en étant toujours à jour.</p>
            <div class="dropdown">
              <button aria-expanded="false" aria-haspopup="true" class="btn menuNav" data-toggle="dropdown"
                      id="dropdownMenuButton"
                      style=" width: auto; background: white; border-color: #ffcf03;  color:black;  border-radius: 25px; "
                      type="button">

                Demandez une démo gratuite
              </button>
            </div>

          </div>
          <br>
        </div>
        <div class="col-lg-6  mx-md-auto">
          <img class="ml-lg-5" src="assets/img/pc.png" width="100%">
        </div>

      </div>
    </div>

  </section>
  <section class="section section-lg section-shaped pb-250">

    <wind-slider-with-indicators></wind-slider-with-indicators>
    <wind-slider-without-indicators></wind-slider-without-indicators>
  </section>
  <!-- 1st Hero Variation -->
</div>
