<div class="header " style="    background: #c1c1c12e;">
  <div class="container-fluid">
    <div class="header-body" style=" margin-right: 5%; margin-left: 5%; ">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2  d-inline-block mb-0"
              style=" color: #1c1c2b !important; font-family: auto; font-size: 25px;     font-weight: bold;">Fiche
            collaborateur:</h6>
          <br>
          <p aria-current="page" class="breadcrumb-item active" style="color: #0080ad;    font-weight: bold;">Solde de
            Congé</p>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Page content -->

<div class="accordion mt-5" id="accordionExample">
  <div class="card card-info">
    <div class="card-header card-info-header" id="headingOne">
      <h2 class="mb-0">
        <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link" data-target="#collapseOne"
                data-toggle="collapse" style="color: #0080ad;" type="button">
          Congé payé
        </button>
      </h2>
    </div>

    <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
      <div class="card-body">

        <div class="table-responsive">


          <div>
            <table class="table align-items-center">
              <thead class="thead-light">
              <tr>
                <th class="sort" data-sort="name" scope="col"></th>
                <th class="sort" data-sort="budget" scope="col">Report N-1</th>
                <th class="sort" data-sort="status" scope="col">Jan</th>
                <th scope="col">Fev</th>
                <th class="sort" data-sort="completion" scope="col">Mar</th>
                <th scope="col">Avr</th>
                <th scope="col">Mai</th>
                <th scope="col">Jun</th>
                <th scope="col">Jui</th>
                <th scope="col">Aou</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dec</th>
                <th scope="col">Total de fin de mois</th>
                <th scope="col">Total de fin d'année</th>
              </tr>
              </thead>
              <tbody class="list">

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">CP Acquis</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Ancienneté</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">CP Pris/Planifié</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Solde CP Cumulé</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>


              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="card card-info">
    <div class="card-header card-info-header" id="headingTwo">
      <h2 class="mb-0">
        <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed"
                data-target="#collapseTwo" data-toggle="collapse" style="color: #0080ad;" type="button">
          Congé Maladie
        </button>
      </h2>
    </div>
    <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionExample" id="collapseTwo">
      <div class="card-body">
        <div class="table-responsive">


          <div>
            <table class="table align-items-center">
              <thead class="thead-light">
              <tr>
                <th class="sort" data-sort="name" scope="col"></th>
                <th class="sort" data-sort="budget" scope="col">Report N-1</th>
                <th class="sort" data-sort="status" scope="col">Jan</th>
                <th scope="col">Fev</th>
                <th class="sort" data-sort="completion" scope="col">Mar</th>
                <th scope="col">Avr</th>
                <th scope="col">Mai</th>
                <th scope="col">Jun</th>
                <th scope="col">Jui</th>
                <th scope="col">Aou</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dec</th>
                <th scope="col">Total de fin de mois</th>
                <th scope="col">Total de fin d'année</th>
              </tr>
              </thead>
              <tbody class="list">

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">CM Acquis</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Ancienneté</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">CM Pris/Planifié</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Solde CM Cumulé</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>


              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="card card-info">
    <div class="card-header card-info-header" id="headingThree">
      <h2 class="mb-0">
        <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed"
                data-target="#collapseThree" data-toggle="collapse" style="color: #0080ad;" type="button">
          RTT
        </button>
      </h2>
    </div>
    <div class="collapse" data-parent="#accordionExample" id="collapseThree">
      <div class="card-body">
        <div class="table-responsive">


          <div>
            <table class="table align-items-center">
              <thead class="thead-light">
              <tr>
                <th class="sort" data-sort="name" scope="col"></th>
                <th class="sort" data-sort="budget" scope="col">Report N-1</th>
                <th class="sort" data-sort="status" scope="col">Jan</th>
                <th scope="col">Fev</th>
                <th class="sort" data-sort="completion" scope="col">Mar</th>
                <th scope="col">Avr</th>
                <th scope="col">Mai</th>
                <th scope="col">Jun</th>
                <th scope="col">Jui</th>
                <th scope="col">Aou</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dec</th>
                <th scope="col">Total de fin de mois</th>
                <th scope="col">Total de fin d'année</th>
              </tr>
              </thead>
              <tbody class="list">

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">RTT Acquis</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Ancienneté</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">RTT Pris/Planifié</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">Solde RTT Cumulé</span>
                    </div>
                  </div>
                </th>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
                <td class="budget">
                  0
                </td>
              </tr>


              </tbody>
            </table>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
