
<div class="header " style="    background: #c1c1c12e;">
  <div class="container-fluid">
    <div class="header-body" style=" margin-right: 5%; margin-left: 5%; ">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2  d-inline-block mb-0"
              style=" color: #1c1c2b !important; font-family: auto; font-size: 25px;     font-weight: bold;">
            Fiche de paie:</h6>
          <br>
          <p aria-current="page" class="breadcrumb-item active" style="color: #0080ad;    font-weight: bold;">
           Templates de fiche de paie</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="accordion mt-5" id="accordionExample">
  <div class="card card-info" style=" background: transparent; border: 0px;">

    <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
      <div class="card-body" style="    padding: 0;">

        <ul style="    display: flex;">
          <li style="    width: 25%;">
            <h5> Template 1</h5>
            <input type="radio" id="myCheckbox1" name="payroll"/>
            <label for="myCheckbox1">
              <img src="../../../assets/img/fichepaie/fiche1.png" />
            </label>
          </li>
          <li style="    width: 25%;">
            <h5> Template 2</h5>
            <input type="radio" id="myCheckbox2"  name="payroll"/>
            <label for="myCheckbox2">
              <img src="../../../assets/img/fichepaie/fiche2.png" />
            </label>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

