

<div class="invoice-form-wrapper">
  <div class="px-3">
    <div class="row">
      <div class="col" style="padding:0">
        <div class="card-detail row padd">

            <div  class="out" style="padding: 0; border-left: 4px solid #1d8cb4; border-radius: 4px;width: 22%; display: flex">
              <div class="" style="    width: 36%; border-right: thin solid rgba(0,0,0,.12);">
                <br><br>
                <span style="padding-right: 15px;   padding-left: 15px;"><i class="fa fa-th" aria-hidden="true" style="color: #757575;"></i></span>
                <br>
              </div>
              <div class="">
              <br><br>
              <span style="  padding-right: 15px; padding-left: 15px;  font-size: 14px;">
                COMMENTAIRE
              </span>
              <br>
              </div>
            </div>
            <div  class="out"    style="padding: 0;    border: none;">

                <angular-editor (input)="changeComment($event)"  [(ngModel)]="htmlContent" [config]="config"  [config]="config"></angular-editor>

                 <div  style="display:none;">
                    <div id="htmlDiv" class="html" [innerHTML]="htmlContent"></div>
                    <div class="html" > {{htmlContentWithoutStyles}}</div>
                 </div>
              </div>




        </div>
      </div>

    </div>

  </div>
</div>
