<!-- Footer -->
<footer class="page-footer font-small indigo"
        style="box-shadow: -1px -6px 20px -2px #8080803b;background: url('./../../../../../assets/img/footer.png') ;background-repeat: no-repeat;background-size: cover;padding: 4% 0;">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="text-align: center">

        <!-- Links -->

        <div class="font-weight-bold text-uppercase mt-3 ">
          <img src="assets/img/logo.png" style="width: 70%;">
        </div>

        <ul class="list-unstyled ml-3">
          <li>
            <p style="color: white;font-size: 12px;">Est une solution RH globale, <br>
              adaptée aux PME</p>
          </li>

        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="text-align: center;border-right: 2px solid white;">

        <!-- Links -->

        <div class="font-weight-bold text-uppercase mt-3 ">
          <img src="assets/img/tel.png" style="width: 40%;margin-left: 7%;">
        </div>

        <ul class="list-unstyled ml-3">
          <li>
            <p style="color: white;font-size: 15px;font-family: serif;">Appelez-nous au <br>
              <span style="color: #ffcf03">(+216)22 362 123</span></p>
          </li>

        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="text-align: center;border-right: 2px solid white;">

        <!-- Links -->

        <div class="font-weight-bold text-uppercase mt-3 ">
          <img src="assets/img/mail.png" style="width: 40%;margin-left: 7%;">
        </div>

        <ul class="list-unstyled ml-3">
          <li>
            <p style="color: white;font-size: 15px;font-family: serif;">Besoin d'un conseil? <br>
              <span style="color: #ffcf03">écrivez-nous</span></p>
          </li>

        </ul>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto" style="text-align: center">

        <!-- Links -->

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="color: white;font-family: serif;">Liens Divers</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: white;font-size: 15px;font-family: serif;">Conditions générales</a>
          </li>
          <li>
            <a href="#!" style="color: white;font-size: 15px;font-family: serif;">Conditions d'utilisations</a>
          </li>
          <li>
            <a href="#!" style="color: white;font-size: 15px;font-family: serif;">Cookies</a>
          </li>
          <li>
            <a href="#!" style="color: white;font-size: 15px;font-family: serif;">Support</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->

<!-- Copyright -->
<div class="footer-copyright text-center " style="background: white">© 2020 Copyright:
  <a href="#"> Wind RH</a>
</div>
<!-- Copyright -->
