<div class="header " style="    background: #c1c1c12e;">
  <div class="container-fluid">
    <div class="header-body" style=" margin-left: 1%; ">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">


          <h3 class="d-inline-block mb-0"style="font-weight: bold;font-family: monospace;">Liste des Fournisseurs</h3>
          <p aria-current="page" class="breadcrumb-item active" style="font-family: monospace;">
            Fournisseurs > Liste </p>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="accordion mt-5" id="accordionExample">
  <div class="card card-info">
    <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">

      <div class="card-body">

        <div class="row">
        <div class="col-lg-12 col-5 text-right">
            <a class="btn btn-sm btn-neutral"
               (click)="add()"
               style=" color: black; background: #ffcf03; border: #ffcf03; padding: 1%;     margin-bottom: 2%;"><i aria-hidden="true" class="fa fa-plus"></i> Ajouter Fournisseur</a>
          </div>
        </div>

        <div *ngIf="this.fournisseurList.length == 0"><p style="text-align: center;">Vous n'avez pas des fournisseurs enregistrés</p></div>


          <div class="table-editable" id="table">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="    font-family: monospace;">
            <thead  *ngIf="this.fournisseurList.length != 0" >
            <tr>
              <th>Nom du tiers</th>
              <th>Nom Alternatif</th>
              <th>Code Client</th>
              <th>Telephone</th>
              <th>Email</th>
              <th>Type tiers</th>
              <th>Status</th>
              <th>Nb Salariés</th>
              <th></th>
            </tr>
            </thead >
            <tbody  *ngIf="this.fournisseurList.length != 0">
            <tr *ngFor="let fournisseur of fournisseurList">
              <td>
                <span>
                <a [routerLink]="" (click)="gettiers(fournisseur.uuid)"data-toggle="tooltip" style="color: red;" title="profile">{{fournisseur.name}}</a>
                </span>
              </td>
              <td>
                <span>{{fournisseur.alternative_Name}}</span>
              </td>
              <td>
                <span>{{fournisseur.code}}</span>
              </td>
              <td>
                <span>{{fournisseur.phone}}</span>
              </td>
              <td>
                <span>{{fournisseur.email}}</span>
              </td>
              <td>
                <span>{{fournisseur.tiers_Type}}</span>
              </td>
              <td>
                <span>{{fournisseur.state}}</span>
              </td>
              <td>
                <span>{{fournisseur. employee}}</span>
              </td>
              <td>
             <span class="table-remove">
               <a (click)="remove(fournisseur.uuid)" class="delete" data-toggle="tooltip" style="    color: red;" title="Delete"><i
                 aria-hidden="true" class="fa fa-trash"></i></a>

            </span>
              </td>
            </tr>
            </tbody>
          </table>


          <!--<table datatable class="row-border hover">-->
            <!--<thead>-->
            <!--<tr>-->
              <!--<th class="text-center">Nom du tiers</th>-->
              <!--<th class="text-center">Nom Alternatif</th>-->
              <!--<th class="text-center">Code Client</th>-->
               <!--<th class="text-center">Telephone</th>-->
              <!--<th class="text-center">Email</th>-->
              <!--<th class="text-center">Type tiers</th>-->
              <!--<th class="text-center">Status</th>-->
              <!--<th class="text-center">Nb Salariés</th>-->
              <!--<th class="text-center"></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let fournisseur of fournisseurList; let id = index">-->
              <!--<td>-->
                <!--<span>-->
                <!--<a (click)="gettiers(fournisseur.uuid)"data-toggle="tooltip" style="color: red;" title="profile">{{fournisseur.name}}</a>-->
                <!--</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span>{{fournisseur.alternative_Name}}</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span>{{fournisseur.code}}</span>-->
              <!--</td>-->
               <!--<td>-->
                <!--<span>{{fournisseur.phone}}</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span>{{fournisseur.email}}</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span>{{fournisseur.tiers_Type}}</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span>{{fournisseur.state}}</span>-->
              <!--</td>-->
              <!--<td>-->
                <!--<span>{{fournisseur. employee}}</span>-->
              <!--</td>-->
              <!--<td>-->
             <!--<span class="table-remove">-->
               <!--<a (click)="remove(fournisseur.uuid)" class="delete" data-toggle="tooltip" style="    color: red;" title="Delete"><i-->
                 <!--aria-hidden="true" class="fa fa-trash"></i></a>-->

            <!--</span>-->
              <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
          <!--</table>-->
        </div>

      </div>
    </div>
  </div>

</div>
