<div class="header " style="    background: #c1c1c12e;">
  <div class="container-fluid">
    <div class="header-body" style="margin-left: 1%; ">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h3 class="d-inline-block mb-0"style="font-weight: bold;font-family: monospace;">Paiement</h3>
          <p aria-current="page" class="breadcrumb-item active" style="font-family: monospace;">
            Caisse > Paiement </p>
        </div>

      </div>
    </div>

  </div>
</div>
<div id="accordionExample">

  <div class="card card-info">

    <div aria-labelledby="headingTwo1" class="collapse show" data-parent="#accordionExample" id="collapseTwo1">
      <div class="card-body">
        <br>
        <form id="form1" role="form">

            <p   class="breadcrumb-item active" style="font-family: monospace;"> Caisse &gt; Ajouter paiement </p>
            <div  class="row">
              <div class="col-12" style="display: flex">
                <div class="col-6">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-4" style="font-weight: bold;">Libellé</label>
                    <div class=" col-8 input-group input-group-alternative ">
                      <input
                        class="form-control"
                        name="libelle" id="libelle"
                        [(ngModel)]="payForm.label.value"
                        type="text">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-4" style="font-weight: bold;">Date Valeur</label>
                    <div class=" col-8 input-group input-group-alternative ">
                      <input type="date"
                             min="{{dateSent|date:'yyyy-MM-dd'}}"
                             id="datevaleur"
                             name="datevaleur"
                             class="form-control"
                             [(ngModel)]="payForm.valueDate.value"
                             required>
                    </div>
                  </div>
                </div>

              </div>
            </div>

              <div class="row">
                <div class="col-12">
                <div class="col-12">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-2" style="font-weight: bold;">Compte bancaire</label>
                    <div class=" col-10 input-group input-group-alternative ">

                      <select class="form-control"  (change)="getselectedcompteorigin($event)">
                        <option hidden selected>select compte </option>
                        <option [value]="item.uuid" *ngFor="let item of comptelist"> {{item.account_number}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                </div>
              </div>

            <div  class="row">
              <div class="col-12" style="display: flex">
                <div class="col-6">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-4" style="font-weight: bold;">Mode de règlement</label>
                    <div class=" col-8 input-group input-group-alternative ">
                      <select class="form-control" (change)="getselectedtypepayment($event)">
                        <option *ngFor="let key of keytypecomptes" [value]="key" [label]="typecomptes[key]"></option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-4" style="font-weight: bold;">Sens</label>
                    <div class=" col-8 input-group input-group-alternative ">
                      <select class="form-control" (change)="getselectedsens($event)">
                        <option value=""></option>
                        <option value="DEBIT">Débit</option>
                        <option value="CREDIT">Crédit</option>

                       </select>

                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div  class="row">
              <div class="col-12" style="display: flex">
                <div class="col-6">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-4" style="font-weight: bold;">Projet à Payer</label>
                    <div class=" col-8 input-group input-group-alternative ">
                      <input
                        class="form-control"
                        name="projet" id="projet"
                        [(ngModel)]="payForm.projet.value"
                        type="text">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group focused" style="display: flex;">
                    <label class="col-4" style="font-weight: bold;">Montant</label>
                    <div class=" col-8 input-group input-group-alternative ">
                      <input           [(ngModel)]="payForm.amount.value"
                                       [defaultValue]="0"
                                       [ngModelOptions]="{standalone: true}"
                                       class="form-control" name="montant"
                                       type="number">
                    </div>
                  </div>
                </div>

              </div>
            </div>



          <div class="col-lg-12 col-5 text-right">
            <a class="btn btn-sm btn-neutral"
               (click)="onAddpaiementFormSubmit()"
               style=" color: black; background: #ffcf03; border: #ffcf03; padding: 1%; ">Ajouter Paiement</a>
          </div>

        </form>
      </div>
    </div>
  </div>




  <div class="card card-info">
    <div class="card-header card-info-header" id="headingOne">
      <h2 class="mb-0">
        <button aria-controls="collapseOne1" aria-expanded="true" class="btn btn-link" data-target="#collapseOne1"
                data-toggle="collapse" style="font-weight: bold; font-family: monospace; color: #2d2d44;" type="button">
          <img src="https://static.thenounproject.com/png/703781-200.png" style="width: 40px;">  Liste des Paiements
        </button>

      </h2>
    </div>
    <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample1" id="collapseOne1">
      <div class="card-body">
        <div class="table-editable" id="table">
  <span class="table-add float-right" style="padding: 0">
  </span>

          <div *ngIf="this.paiementList.length == 0"><p style="text-align: center;">Vous n'avez pas des payements enregistrés</p></div>

          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" style="    font-family: monospace;">
            <thead *ngIf="this.paiementList.length != 0">
            <tr>
              <th class="text-center">Comptes bancaires</th>
              <th class="text-center">Libellé</th>
               <th class="text-center">Date Paiement</th>
              <th class="text-center">Mode de règlement</th>
              <th class="text-center">Montant</th>
              <th class="text-center"></th>
            </tr>
            </thead>
            <tbody *ngIf="this.paiementList.length != 0">
            <tr *ngFor="let item of paiementList; let id = index">
              <td>
  <span (blur)="updateList(id, 'compte', $event)" (keyup)="changeValue(id, 'compte', $event)"
        contenteditable="true">{{item.bankAccount.uuid}}</span>
              </td>
              <td>
  <span (blur)="updateList(id, 'label', $event)" (keyup)="changeValue(id, 'label', $event)"
        contenteditable="true">{{item.label}}</span>
              </td>
              <td>
  <span (blur)="updateList(id, 'payment_date', $event)" (keyup)="changeValue(id, 'payment_date', $event)"
        contenteditable="true">{{item.paymentDate}}</span>
              </td>
              <td>
  <span (blur)="updateList(id, 'payment_mode', $event)" (keyup)="changeValue(id, 'payment_mode', $event)"
        contenteditable="true">{{item.paymentMode}}</span>
              </td>
              <td>
  <span (blur)="updateList(id, 'amount', $event)" (keyup)="changeValue(id, 'amount', $event)"
        contenteditable="true">{{item.amount}}</span>
              </td>
              <td>
  <span class="table-remove">
  <a (click)="remove(item.uuid)" class="delete" data-toggle="tooltip" style="    color: red;" title="Delete"><i
    aria-hidden="true" class="fa fa-trash"></i></a>
  </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
