<div class="row">
  <div class="card w-100">
    <div class="card-body">
      <div class="">
        <form [formGroup]="form.asFormGroup">
          <div class="col-md-6">
            <div class="form-group">
              <wind-auto-complete (selected)="autocompleteSelected($event)" [dataLoader]="dataLoader"
                                  [formElement]="form.getField('airline')"
                                  [options]="tempList"
                                  [searchLength]="3"
                                  class="form-group"></wind-auto-complete>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
