<style>
  @media (min-width: 1200px) {
    .g-sidenav-pinned .sidenav.fixed-left + .main-content {
      margin-left: 250px;
    }
  }
</style>
<body
  style="background: url('./../../../../assets/img/profile_back.png')  no-repeat; background-size: cover; height: auto ; background: #e5e6e8;">
<wind-sidebar></wind-sidebar>
<!-- Main content -->
<div class="main-content" id="panel">
  <!-- Topnav -->
  <wind-navbar></wind-navbar>
  <!-- Page content -->
  <router-outlet></router-outlet>
</div>
</body>
