<router-outlet></router-outlet>
<!--    <div class="container">-->
<!--        &lt;!&ndash; Custom controls &ndash;&gt;-->
<!--        <div class="row">-->
<!--            <div class="card">-->
<!--                <div class="card-header" [innerText]="formHeader">-->
<!--                </div>-->
<!--                <div class="card-bodey">-->
<!--                    <router-outlet></router-outlet>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

