<div class="accordion" id="accordionExample" style=" border-top: none; border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-radius: 3px; ">
  <div class="card card-info">
    <div class="card-header card-info-header"  aria-expanded="false" class="btn btn-link collapsed"
        data-toggle="collapse" style="display: flex">
      <div   class="p-2"> Retenue à la source: {{RS_model.percentage}}%</div>
      <div   class="p-2 ml-auto">
        <div   class="m-2 title-amount-body"> MONTANT : <span   class="m-2 montant">{{RS_model.amount}}</span></div>
      </div>
      <div   class="p-2 collapse-blue">
<!--        <i-feather name="chevron-down"></i-feather>-->
      </div>
    </div>
  </div>
</div>
